# Part 1

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from io import StringIO

## Get the text from the Wiki page and parse it with lxml. Extract the table content

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')

table_content = soup.find('table').text

## Split the table content by newlines in order to obtain a list of words. Then, remove empty elements from the list.

In [3]:
#split
table_list = table_content.split('\n')

#remove empty elements
table_list = list(filter(None, table_list))

#print first 20 elements:
print(table_list[:20])

['Postcode', 'Borough', 'Neighbourhood', 'M1A', 'Not assigned', 'Not assigned', 'M2A', 'Not assigned', 'Not assigned', 'M3A', 'North York', 'Parkwoods', 'M4A', 'North York', 'Victoria Village', 'M5A', 'Downtown Toronto', 'Harbourfront', 'M5A', 'Downtown Toronto']

## Seperate Labels and Records

In [4]:
labels = ['PostalCode', 'Borough', 'Neighborhood']
records = table_list[3:]

In [5]:
column1 = []
for i in range(0,len(records)):
        if i%3 == 0:
            column1.append(records[i])

column2 = []
for i in range(0,len(records)):
        if (i-1)%3 == 0:
            column2.append(records[i])

column3 = []
for i in range(0,len(records)):
        if (i-2)%3 == 0:
            column3.append(records[i])

records_arranged = list(zip(column1, column2, column3))
#show first 3 entries:
records_arranged[:3]

[('M1A', 'Not assigned', 'Not assigned'),
 ('M2A', 'Not assigned', 'Not assigned'),
 ('M3A', 'North York', 'Parkwoods')]

## Create a DataFrame

In [6]:
#create dataframe
df = pd.DataFrame.from_records(records_arranged, columns=labels)

#drop rows with Borough="Not assigned"
df = df[df["Borough"] != "Not assigned"]

df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

## Group the DataFrame by PostalCode and thereby, join Neighborhoods with a comma and leave Boroughs as they are

In [7]:
#create custom function to join the Neighbourhood values with comma and space
customjoin = lambda a: ", ".join(a) 

#create a custom function to join the Borough values with comma, seperate them by comma and only return the first (since they are equal)
#I simply wanted to leave the Borough value unchanged. I'm sure there is a more elegant way, but this one works fine.
onereturn= lambda a: ",".join(a).rsplit(",")[0]

#group dataframe by PostalCode and join entries 
df_final = df.groupby('PostalCode').agg({'Borough': onereturn, 'Neighborhood': customjoin})

#check if the join works as expected:
df_final.head(4)

                Borough                            Neighborhood
PostalCode
M1B         Scarborough                          Rouge, Malvern
M1C         Scarborough  Highland Creek, Rouge Hill, Port Union
M1E         Scarborough       Guildwood, Morningside, West Hill
M1G         Scarborough                                  Woburn

## Find rows with Neighborhood 'Not assigned' and replace it by the Borough entry

In [8]:
#check rows:
df_final[df_final['Neighborhood']=='Not assigned']
#only the case for PostalCode M7A. Replace its value by its Borough value:
df_final.loc['M7A']['Neighborhood'] = df_final.loc['M7A']['Borough']

#check again:
df_final[df_final['Neighborhood']=='Not assigned']
#no returns -> worked

Empty DataFrame
Columns: [Borough, Neighborhood]
Index: []

## The columns Neighborhood and Borough are swapped, compared to the given example on Coursera. Therefore, I swap the columns.
## Finally, the index is reset and PostalCode becomes an ordinary column.

In [9]:
df_final=df_final.reindex(columns=['Borough', 'Neighborhood'])
df_final = df_final.reset_index()
df_final.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [10]:
df_final.shape

(103, 3)

# Part 2

## Retrieve the geospatial data

In [11]:
!wget -O geospatial.csv https://cocl.us/Geospatial_data

--2018-12-17 18:22:04--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 159.8.72.228
Connecting to cocl.us (cocl.us)|159.8.72.228|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2018-12-17 18:22:05--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.26.197
Connecting to ibm.box.com (ibm.box.com)|107.152.26.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2018-12-17 18:22:05--  https://ibm.ent.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.26.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!_QVpXeUqJstY2cOiAN74sjPi4aA2DV2zFDQZ1YEY-6i5fw68qqwujX2YjC6ME2r4D5rrD6XJlSW9VWA_yAZJOO4jLF6khreGB0oBe1KYZ6WldTJAexJ6zl3PAYCxiDmlD81dp9qnpH0IzWaGenwyFwelqMrrxu6m4hxJPKb5eOTHE6ZIvt5YT8_wC_8d9r4xvj8YA9yeRVgJOUNZ355_i7NUeWefUvnUJ6dwti53c4WqCy9Yqu1VBWYjlr0Vsrg-bSlGADFEc21D0SF_Wu-9hucBr5JBfxMG52n3TMmWmlFcQGcH3p50xe8QIh8djkz-FxtKEMFvGT3udXfgD4qIm1EWsQnqv8ku5WU984DWLN-QNovFdQ0J3pME8tJktHeodRhb9ogZZLSauvJbhd9iPzYHj4tYO1aUx1z2UNZQYym-hB2X-4BwawV5kPLmieGfk-u6Ibgu_eW9GeotpBBngYzStOtirdWtfEskih_5aMAQCSXlYqd1WDxuQzOL2SIiph0ucoT8BHjNllsgB7XWVT_ufMYMJOkimWSBfxXv-mIs15SBpyc9mmpPUilDX8Cxq2lgEDaNbDcsUkN5l8OFoLH3NZ0TR-EF4vcFkmTe3PDB8ifWYDurYAPI3TKHdZ8Y_iWMt272wL98J5pCqvWB3RWKebP1kvoL1MIP_Tyn-uJ0HogbKdicsGjexHmVcUjJ0dkgtgIms-8TfO3M0GkZTT9tkbgF4OJxABBEKpQoS-7M-uQ1L19kJPCEi5rpnQue8fwEDPKfI3gaA7jAX2nnf_W7sqR8yUIDnN3XMAcmSrftD_8EPhiBbTuIe021g__bNKdO8-cpxioPJuYGQXeNS-R9pTk-PNd-ne8RaxzgLYmgbrVXgqc8NGY3YDk6W1Hb4xKu9AwJNcct3j-8qD0LRrvKQL0sl7LES33yu7A898Mg9oaskcu9qgXCdewXBCPHKoue52RsfzRpxZAmiCuL0S-szqmAc1VqqYld9Uq7TyADgLe-qXI424oY_fs5gm8-9UnIwXm2g4MU2cb9d-f0KEIygYW5w-_RUG5mkFS6zuJX3YBku6DIa8CZdjtAS7CMdjleXQmjyorbL0GE8oxRmAtW8PaRrYRDhxkiYSsTFL4Zfe7mwjz4Gq3Sf0xqGDr4NpnryUPOyuTqn9Y_1T5FEmBrd9Elz1CYq1wmLDrKHJkWVmWNU-6syy8xjvkk58wke3MiSs-T4yluO4GheS7sPB_FkOY_ANj_rg79EflKC46fF2SZ1PPV9ucT-wfR4EhE1vuYPZdP06mYRgn7fncX-6v8bP5nxULtxcXPdNv5MW-EqBQfZNctegYLcWlZ2CRBX2tat8mkRyiB4j35FQ_4G9gkTqSmue1tl1dapCeAA1S43tFa/download [following]
--2018-12-17 18:22:06--  https://public.boxcloud.com/d/1/b1!_QVpXeUqJstY2cOiAN74sjPi4aA2DV2zFDQZ1YEY-6i5fw68qqwujX2YjC6ME2r4D5rrD6XJlSW9VWA_yAZJOO4jLF6khreGB0oBe1KYZ6WldTJAexJ6zl3PAYCxiDmlD81dp9qnpH0IzWaGenwyFwelqMrrxu6m4hxJPKb5eOTHE6ZIvt5YT8_wC_8d9r4xvj8YA9yeRVgJOUNZ355_i7NUeWefUvnUJ6dwti53c4WqCy9Yqu1VBWYjlr0Vsrg-bSlGADFEc21D0SF_Wu-9hucBr5JBfxMG52n3TMmWmlFcQGcH3p50xe8QIh8djkz-FxtKEMFvGT3udXfgD4qIm1EWsQnqv8ku5WU984DWLN-QNovFdQ0J3pME8tJktHeodRhb9ogZZLSauvJbhd9iPzYHj4tYO1aUx1z2UNZQYym-hB2X-4BwawV5kPLmieGfk-u6Ibgu_eW9GeotpBBngYzStOtirdWtfEskih_5aMAQCSXlYqd1WDxuQzOL2SIiph0ucoT8BHjNllsgB7XWVT_ufMYMJOkimWSBfxXv-mIs15SBpyc9mmpPUilDX8Cxq2lgEDaNbDcsUkN5l8OFoLH3NZ0TR-EF4vcFkmTe3PDB8ifWYDurYAPI3TKHdZ8Y_iWMt272wL98J5pCqvWB3RWKebP1kvoL1MIP_Tyn-uJ0HogbKdicsGjexHmVcUjJ0dkgtgIms-8TfO3M0GkZTT9tkbgF4OJxABBEKpQoS-7M-uQ1L19kJPCEi5rpnQue8fwEDPKfI3gaA7jAX2nnf_W7sqR8yUIDnN3XMAcmSrftD_8EPhiBbTuIe021g__bNKdO8-cpxioPJuYGQXeNS-R9pTk-PNd-ne8RaxzgLYmgbrVXgqc8NGY3YDk6W1Hb4xKu9AwJNcct3j-8qD0LRrvKQL0sl7LES33yu7A898Mg9oaskcu9qgXCdewXBCPHKoue52RsfzRpxZAmiCuL0S-szqmAc1VqqYld9Uq7TyADgLe-qXI424oY_fs5gm8-9UnIwXm2g4MU2cb9d-f0KEIygYW5w-_RUG5mkFS6zuJX3YBku6DIa8CZdjtAS7CMdjleXQmjyorbL0GE8oxRmAtW8PaRrYRDhxkiYSsTFL4Zfe7mwjz4Gq3Sf0xqGDr4NpnryUPOyuTqn9Y_1T5FEmBrd9Elz1CYq1wmLDrKHJkWVmWNU-6syy8xjvkk58wke3MiSs-T4yluO4GheS7sPB_FkOY_ANj_rg79EflKC46fF2SZ1PPV9ucT-wfR4EhE1vuYPZdP06mYRgn7fncX-6v8bP5nxULtxcXPdNv5MW-EqBQfZNctegYLcWlZ2CRBX2tat8mkRyiB4j35FQ_4G9gkTqSmue1tl1dapCeAA1S43tFa/download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.27.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.27.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘geospatial.csv’

100%[======================================>] 2,891       --.-K/s   in 0s

2018-12-17 18:22:06 (176 MB/s) - ‘geospatial.csv’ saved [2891/2891]

In [12]:
geodf = pd.read_csv('geospatial.csv')
geodf.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## Take a look at the above DataFrame again in order to check how we can combine them:

In [13]:
df_final.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

## They can be joined on the PostalCode column. Therefore, we have to rename the column first to remove the blank

In [28]:
geodf.rename(index=str, columns={"Postal Code": "PostalCode"}, inplace=True)

In [29]:
geodf.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [31]:
df = df_final.join(geodf.set_index('PostalCode'), on='PostalCode')

In [32]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476